node_modules
node_modules.broken*
dist
out
.DS_Store
*.log
.vite
release

# TypeScript build info cache
*.tsbuildinfo

# TypeScript declaration emit artifacts (composite mode without outDir)
**/*.d.ts

# TypeScript JavaScript emit artifacts (composite mode without outDir)
**/*.js.map
**/*.js
